
<h1>Definitions for <%= @word.name() %>:</h1>


<ul>
<% @word.definitions().each() do |definition| %>
<li>(<%= definition.part_of_speech() %>) -- <%= definition.meaning() %></li>
<% end %>
</ul>




<h2>Add a Definition</h2>
<form action="/definitions" method="post">
  <input id="word_id" name="word_id" type="hidden" value="<%= @word.id() %>">

  <label for="part_of_speech">Part of Speech:</label>
  <input id="part_of_speech" name="part_of_speech" type="text">

  <label for="meaning">Meaning:</label>
  <input id="meaning" name="meaning" type="text">

  <button type="submit">Add Definition</button>
</form>
